<!DOCTYPE html>
<html lang="vi" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="./resources/img/Icon.png">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="./resources/js/home.js">

  </script>
  <link rel="stylesheet" type="text/css" href="./resources/css/home.css">
  <title>_meiBot</title>
</head>

<body>
  <div id="wrapper">
    <div id="info">
      <div id="avatar">
        <img src="./resources/img/Avatar.png" alt="Avatar">
      </div>
      <div id="name">
        <h1>Mei Bot</h1>
        <a href="/3ei3isaki">
          <p>@3ei3isaki<p>
        </a>
        <audio autoplay controls loop>
          <source src="./resources/data/WreckItRalph.mp3" type="audio/mpeg">
        </audio>
      </div>
    </div>
  </div>
</body>

</html>