<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>audio</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./resources/js/audio.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="./resources/css/audio.css">
</head>

<body>
  <video id='audio' src="https://r7---sn-n5pbvoj5caxu8-nboz.googlevideo.com/videoplayback?requiressl=yes&key=yt6&initcwndbps=981250&aitags=133%2C134%2C135%2C136%2C137%2C160%2C242%2C243%2C244%2C247%2C248%2C278&lmt=1537857578279058&clen=13562961&expire=1547035498&sparams=aitags%2Cclen%2Cdur%2Cei%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Ckeepalive%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Crequiressl%2Csource%2Cexpire&c=WEB&source=youtube&mm=31%2C29&mn=sn-n5pbvoj5caxu8-nboz%2Csn-q4fl6nl7&ip=27.2.127.153&gir=yes&fvip=4&mime=video%2Fwebm&mt=1547013836&mv=m&pl=24&id=o-ACbwfbN-kUuwHA42A1viMrBSe_Nd1xd-C0iNiY7GAU86&ei=Co81XM_SJYmS4gKJ9YDoBA&ms=au%2Crdu&dur=350.249&keepalive=yes&itag=244&ipbits=0&alr=yes&signature=5ECB9FBF213395364EA96E8C092747628EFC87DA.85CE6C2EFCCDD4A1FF1204E297F949AA721988D0&cpn=gvcq5SIMOO6Jza58&cver=2.20190105&range=0-149792&rn=1&rbuf=0"
    controls></video>
  <button id="btn_play" type="button" name="button">Play!</button>
  <canvas id='canvas'></canvas>
</body>

</html>